
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color

$color-foreground:      #202020;
$color-background:      #FFFFFF;
$color-link:            #2020E0;

//== Grid

$max_col: 12;
