{
    "presets": [
        ["@babel/preset-env"
        ,
            {
                "targets": {
                    "esmodules": true
                }
            }
        ],
        "@babel/react"],
    "plugins": [],
    "env": {
        "test": {
            "plugins": [
                [
                    "istanbul",
                    {
                        "include": [
                            "src/**.*"
                        ],
                        "exclude": [
                            "dist/**.*",
                            "node_modules/**.*",
                            "tests/**.*"
                        ]
                    }
                ]
            ]
        }
    }
}
