#if ( $frontendModule == "general" )
src/main/content/jcr_root/apps/${appId}/clientlibs/clientlib-site
src/main/content/jcr_root/apps/${appId}/clientlibs/clientlib-dependencies
#elseif ( $frontendModule == "angular" )
src/main/content/jcr_root/apps/${appId}/clientlibs/clientlib-angular
#elseif ( $frontendModule == "react" )
src/main/content/jcr_root/apps/${appId}/clientlibs/clientlib-react
#end
