# Collect any enviromental variables that are set in /etc/sysconfig/httpd
# Collect the dispatchers number
PassEnv DISP_ID

<VirtualHost *:80>
	# allowing slashes in the URL to be encoded and still honored
	AllowEncodedSlashes On
	ServerName	"author"
	ServerAlias	${AUTHOR_DEFAULT_HOSTNAME}
	# Use a special doc root that doesn't overlap publish doc roots or it wont fetch from author each time and authors wont see their changes
	DocumentRoot	${AUTHOR_DOCROOT}
	# Add header breadcrumbs for help in troubleshooting
	<IfModule mod_headers.c>
		Header always add X-Dispatcher ${DISP_ID}
		Header always add X-Vhost "author"
		Header merge X-Frame-Options SAMEORIGIN "expr=%{resp:X-Frame-Options}!='SAMEORIGIN'"
		Header merge X-Content-Type-Options nosniff "expr=%{resp:X-Content-Type-Options}!='nosniff'"
		# Force SSL for author
		# Add HSTS for avoiding man in the middle during browser redirect to SSL
		Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains;"
	</IfModule>
	<Directory "${AUTHOR_DOCROOT}">
		Options Indexes FollowSymLinks
		AllowOverride None
		Require all granted
	</Directory>
	<Directory />
		# Update /etc/sysconfig/httpd with setting the AUTHOR_ALLOWLIST_ENABLED from 0 or 1 to enable or disable ip restriction rules
		<If "${AUTHOR_ALLOWLIST_ENABLED} == 1">
			Include conf.d/allowlists/*_allowlist.rules
		</If>
		<IfModule disp_apache2.c>
			# Some items cache with the wrong mime type
			# Use this option to use the name to auto-detect mime types when cached improperly
			ModMimeUsePathInfo On
			# Use this option to avoid cache poisioning
			# Sling will return /content/image.jpg as well as /content/image.jpg/ but apache can't search /content/image.jpg/ as a file
			# Apache will treat that like a directory.  This assures the last slash is never stored in cache
			DirectorySlash Off
			# Enable the dispatcher file handler for apache to fetch files from AEM
			SetHandler dispatcher-handler
		</IfModule>
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<LocationMatch "/(libs|apps|etc|etc\.clientlibs)">
		SetOutputFilter DEFLATE
		# Don't compress images and html files
		SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|html)$ no-gzip dont-vary
		# Don't compress token.json
		SetEnvIfNoCase Request_URI libs\/granite\/csrf\/token.json no-gzip dont-vary
	</LocationMatch>
	<IfModule disp_apache2.c>
		# Enabled to allow rewrites to take affect and not be ignored by the dispatcher module
		DispatcherUseProcessedURL	1
		# Default setting to allow all errors to come from the aem instance
		DispatcherPassError		0
	</IfModule>
	<IfModule mod_rewrite.c>
		ReWriteEngine	on
		LogLevel warn rewrite:info
		# Global rewrite include
		Include conf.d/rewrites/base_rewrite.rules
		# Update /etc/sysconfig/httpd with setting the AUTHOR_FORCE_SSL from 0 or 1 to enable or disable enforcing SSL
		<If "${AUTHOR_FORCE_SSL} == 1">
			Include conf.d/rewrites/xforwarded_forcessl_rewrite.rules
		</If>
	</IfModule>
	<IfModule mod_proxy.c>
		SSLProxyEngine on
		Include /etc/httpd/conf.d/proxy/*.proxy
	</IfModule>
</VirtualHost>
