@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue.eot');
    src: url('fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue.woff2') format('woff2'),
         url('fonts/BebasNeue.woff') format('woff'),
         url('fonts/BebasNeue.ttf') format('truetype'),
         url('fonts/BebasNeue.svg#BebasNeue') format('svg');
    font-weight: normal;
    font-style: normal;

}
