.category__categoryTitle {}
.category__pagination {}
.category__root {}
.category__root-message {}
.category__style_grid .gallery__items {}
.category__style_list .gallery__items {}
.category__title {}
.gallery__root {}
.item__image {}
.item__image_pending {}
.item__imagePlaceholder {}
.item__imagePlaceholder_pending {}
.item__images {}
.item__images_pending {}
.item__name_pending {}
.item__name,
.item__price_pending {}
.item__root .price .discountedPrice {}
.item__root .price .regularPrice {}
.item__root .price {}
.item__root {}
.item__root_pending {}
