# Configuration created by Apache Sling JCR Installer
resource.resolver.required.providernames=["JCR"]
resource.resolver.manglenamespaces=B"true"
resource.resolver.optimize.alias.resolution=B"true"
resource.resolver.vanitypath.blacklist=["/content/usergenerated"]
resource.resolver.vanity.precedence=B"false"
resource.resolver.vanitypath.maxEntries=I"-1"
resource.resolver.required.providers=[""]
resource.resolver.enable.vanitypath=B"true"
resource.resolver.providerhandling.paranoid=B"false"
resource.resolver.allowDirect=B"true"
resource.resolver.mapping=["/-/","/content/${appsFolderName}/-/"]
resource.resolver.vanitypath.whitelist=["/apps/","/libs/","/content/"]
resource.resolver.map.location="/etc/map.publish"
resource.resolver.vanitypath.maxEntries.startup=B"true"
resource.resolver.map.observation=["/"]
resource.resolver.default.vanity.redirect.status=I"302"
resource.resolver.vanitypath.bloomfilter.maxBytes=I"1024000"
resource.resolver.searchpath=["/apps","/libs"]
resource.resolver.log.unclosed=B"false"
resource.resolver.log.closing=B"false"
resource.resolver.virtual=["/:/"]
