h1,
h2,
h3,
h4,
h5,
h6,
p {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

p {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 32px;
}

h1 {
  font-size: 48px;
  letter-spacing: 0.8em;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.02em;
  padding: 4px 0;
}

h5 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  text-align: center;
}

@media (min-width: 651px) and (max-width: 1200px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-weight: 400;
  }
}
