@font-face {
    font-family: 'merriweatherregular';
    src: url('Merriweather-Regular-webfont.eot');
    src: url('Merriweather-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Merriweather-Regular-webfont.woff') format('woff'),
         url('Merriweather-Regular-webfont.ttf') format('truetype'),
         url('Merriweather-Regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

